# Data Manipulation and Analysis
pandas
numpy
statsmodels

# Data Visualization
matplotlib
seaborn
pygwalker
dtable

# Machine Learning
scikit-learn

# Additional Libraries
jupyterlab  # For JupyterLab environment
ipykernel